plugins=(git docker colorize fzf{{ ' tmux' if 'tmux' in group_names }})
ZSH_TMUX_AUTOSTART={{ 'true' if 'tmux' in group_names else 'false' }}
zstyle ':omz:update' mode auto
COMPLETION_WAITING_DOTS=true
ENABLE_CORRECTION=false
export ZSH=$HOME/.oh-my-zsh

source $ZSH/oh-my-zsh.sh
source $HOME/.profile
eval "$(starship init zsh)"

setopt HIST_IGNORE_ALL_DUPS

{% if ansible_os_family == 'Debian' %}
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
{% else %}
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
{% endif %}
