"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false
format = """
$username\
$hostname\
[](fg:#4E4E4E bg:#3A3A3A)\
$directory\
[ ](fg:#3A3A3A)\
"""

right_format = """
$character\
$status\
[](fg:#3A3A3A)\
$git_branch\
$git_status\
[](fg:#4E4E4E bg:#3A3A3A)\
[ ](bg:#4E4E4E)\
$ruby\
$golang\
$nodejs\
$rust\
"""

[character]
success_symbol = "[](fg:green)"
error_symbol = "[✘](fg:red)"

[hostname]
ssh_only = true
style = "bg:#4E4E4E fg:#949494"
format = "[@$hostname ]($style)"
trim_at = "-"
disabled = false

[username]
show_always = false
style_user = "bg:#4E4E4E fg:#949494"
style_root = "bold bg:#4E4E4E fg:red"
format = '[ ($user)]($style)'

[directory]
style = "bg:#3A3A3A fg:green"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"
home_symbol	= " "

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[aws]
symbol = "  "
style = "bg:#3A3A3A"
format = '[[ $symbol $context ](bg:#3A3A3A)]($style) $path'

[buf]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[c]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[conda]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[dart]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[docker_context]
symbol = "🐳 "
style = "bg:#3A3A3A"
format = '[[ $symbol $context ](bg:#3A3A3A)]($style) $path'

[dotnet]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[elixir]
symbol = "💧 "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[elm]
symbol = "🌳 "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[git_branch]
symbol = ""
style = "bg:#3A3A3A"
format = '[[ $symbol $branch ](fg:green bg:#3A3A3A)]($style)'


[git_status]
style = "bg:#3A3A3A"
format = '[[($all_status$ahead_behind)](fg:green bg:#3A3A3A)]($style)'
ahead = "⇡ $count "
behind = "⇣ $count "
deleted = "🗑 $count "
diverged = "󰃻 $count " #
stashed = "📦 $count "
modified = "󰙏 $count " # 
staged = '[ $count ](green)'
renamed = " $count "
untracked = "󰙌 ‍$count " # 🤷󱍊

[golang]
symbol = "🐹 "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[haskell]
symbol = "λ "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[hg_branch]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[java]
symbol = "☕ "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[julia]
symbol = "ஃ "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[lua]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[memory_usage]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[meson]
symbol = "󰈤 " # M
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[nim]
symbol = "👑 "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[nix_shell]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[nodejs]
symbol = "󰎙 " #󰎙 🔷
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[os]
format = "[ $symbol]($style)"#
style = "fg:#ffffff bg:#33658A"
disabled = false

[os.symbols]
Mint = " "#🌿
Windows = " "

[package]
symbol = "󰏗 " # 
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[python]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[rlang]
symbol = "󰟔 " # R
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[ruby]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[rust]
symbol = "🦀"
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version]($style)'

[scala]
symbol = " "
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[vlang]
symbol = ""
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[shell]
disabled=false
bash_indicator = '' # ba
fish_indicator='󰈺' # fi
powershell_indicator = '' # ps
unknown_indicator = ''
style = "fg:#ffffff bg:#33658A"

[spack]
symbol = "🅢 " # S
style = "bg:#4E4E4E fg:#949494"
format = '[$symbol $version ]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format # %T for seconds
style = "bg:#33658A"
format = '[[  $time ](fg:#ffffff bg:#33658A)]($style)'

[status]
disabled = false
format = '[\[$status:$common_meaning\] ](fg:red)'
