"$schema" = 'https://starship.rs/config-schema.json'

palette = 'catppuccin_mocha'

add_newline = false
format = """
$username\
$hostname\
[](fg:surface1 bg:surface0)\
$directory\
[](fg:surface0) \
"""

right_format = """
$character\
$status\
[](fg:surface0)\
$git_branch\
$git_status\
[](fg:surface1 bg:surface0)\
$aws\
$buf\
$c\
$conda\
$dart\
$docker_context\
$dotnet\
$elixir\
$elm\
$golang\
$haskell\
$hg_branch\
$java\
$julia\
$lua\
$memory_usage\
$meson\
$nim\
$nix_shell\
$package\
$python\
$rlang\
$ruby\
$rust\
$scala\
$spack\
$vlang\
$nodejs\
"""

[character]
success_symbol = "[](fg:green)"
error_symbol = "[✘](fg:red)"

[hostname]
ssh_only = true
style = "bg:surface1 fg:subtext1"
format = "[@$hostname ]($style)"
trim_at = "-"
disabled = false

[username]
show_always = false
style_user = "bg:surface1 fg:subtext1"
style_root = "bold bg:surface1 fg:red"
format = '[ ($user)]($style)'

[directory]
style = "bg:surface0 fg:green"
format = "[ $path]($style)"
truncation_length = 3
truncation_symbol = "…/"
home_symbol	= ""

[directory.substitutions]
"Documents" = "󰈙"
"Downloads" = ""
"Music" = ""
"Pictures" = ""
"Syncthing" = "🗘"
"atom" = "⚛"

[aws]
symbol = ""
style = "bg:surface0"
format = '[[ $symbol $context ]($style) $path'

[buf]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[c]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[conda]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[dart]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[docker_context]
symbol = "🐳"
style = "bg:surface0"
format = '[ $symbol $context ]($style) $path'

[dotnet]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[elixir]
symbol = "💧"
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[elm]
symbol = "🌳"
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[git_branch]
symbol = ""
style = "fg:green bg:surface0"
format = '[$symbol $branch ]($style)'

[git_status]
style = "fg:green bg:surface0"
format = "[$all_status$ahead_behind]($style)"
ahead = "⇡$count "
behind = "⇣$count "
conflicted = "$count "
deleted = "🗑$count "
diverged = "󰃻$count "
modified = "󰙏$count "
renamed = "$count "
staged = "$count "
stashed = "$count "
typechanged = "$count "
untracked = "󰙌$count "

[golang]
symbol = "🐹"
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[haskell]
symbol = "λ"
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[hg_branch]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[java]
symbol = "☕"
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[julia]
symbol = "ஃ"
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[lua]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[memory_usage]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[meson]
symbol = "󰈤" # M
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[nim]
symbol = "👑"
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[nix_shell]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[nodejs]
symbol = "󰎙"
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[os]
format = "[ $symbol]($style)"#
style = "fg:#ffffff bg:#33658A"
disabled = false

[os.symbols]
Mint = ""#🌿
Windows = ""

[package]
symbol = "󰏗" # 
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[python]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[rlang]
symbol = "󰟔" # R
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[ruby]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[rust]
symbol = "🦀"
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version]($style)'

[scala]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[vlang]
symbol = ""
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[shell]
disabled=false
bash_indicator = '' # ba
fish_indicator='󰈺' # fi
powershell_indicator = '' # ps
unknown_indicator = ''
style = "fg:#ffffff bg:#33658A"

[spack]
symbol = "🅢" # S
style = "bg:surface1 fg:subtext1"
format = '[$symbol $version ]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format # %T for seconds
style = "bg:#33658A"
format = '[[  $time ](fg:#ffffff bg:#33658A)]($style)'

[status]
disabled = false
format = '[\[$status:$common_meaning\] ](fg:red)'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
