services:
  llama:
    container_name: llama
    image: {{ llamacpp.image }}
    restart: unless-stopped
    networks:
      - llama
    volumes:
      - "{{ compose_project_dir }}/models:/models"
    command:
      - --model
      - "/models/{{ llamacpp_model_filename }}"
      - --host
      - 0.0.0.0
      - --port
      - "{{ llamacpp.port }}"
      - --ctx-size
      - "{{ llamacpp.ctx_size }}"
      - --parallel
      - "{{ llamacpp.n_parallel }}"
      - --threads
      - "{{ llamacpp.threads }}"
      - --n-predict
      - "{{ llamacpp.n_predict }}"
      - --cache-ram
      - "{{ llamacpp.mem_limit }}"
      - --cache-type-k
      - "{{ llamacpp.cache_type.k }}"
      - --cache-type-v
      - "{{ llamacpp.cache_type.v }}"
      - --jinja
      - --reasoning
      - "off"
      - --reasoning-format
      - none
      - --reasoning-budget
      - "0"
      - --slots

networks:
  llama:
    name: llama
