{% if postgresql_conf is defined %}
{% if postgresql_conf is mapping %}
{% for opt, val in postgresql_conf | dictsort -%}
{{ opt }} = {{ val }}
{% endfor %}
{% else %}
{% for pair in postgresql_conf -%}
{% for key in pair -%}
{{ key }} = {{ pair[key] }}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
