port: 7880
room:
  auto_create: false
rtc:
  udp_port: 7882
  tcp_port: 7881
  use_external_ip: true
turn:
  enabled: true
  udp_port: 3478
  relay_range_start: 49152
  relay_range_end: 49200
logging:
  json: false
  level: info
