[settings]
auto_install = false
not_found_auto_install = false
not_found_system_fallback = true
idiomatic_version_file_enable_tools = {{ dev_tools_idiomatic | to_json }}
disable_hints = ["*"]

[settings.status]
missing_tools = "never"
show_tools = false
show_env = false
