{% if mise is defined %}
{% if mise.tools is defined %}
{% if mise.tools.items is defined %}
[tools]
{% for tool, version in mise.tools.items() %}
{{ tool }} = "{{ version }}"
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
