LANG={{ LANG }}
LANGUAGE={{ LANG }}
LC_CTYPE={{ LC_CTYPE }}
LC_NUMERIC={{ LC_NUMERIC }}
LC_TIME={{ LC_TIME }}
LC_COLLATE={{ LC_COLLATE }}
LC_MONETARY={{ LC_MONETARY }}
LC_MESSAGES={{ LC_MESSAGES }}
LC_PAPER={{ LC_PAPER }}
LC_NAME={{ LC_NAME }}
LC_ADDRESS={{ LC_ADDRESS }}
LC_TELEPHONE={{ LC_TELEPHONE }}
LC_MEASUREMENT={{ LC_MEASUREMENT }}
LC_IDENTIFICATION={{ LC_IDENTIFICATION }}
LC_ALL={{ LC_ALL }}
