{% if temu_light_theme|bool == true %}
colors:
  bright:
    black:   '0x000000'
    blue:    '0x2f5af3'
    cyan:    '0x3e953a'
    green:   '0x3e953a'
    magenta: '0xa00095'
    red:     '0xde3d35'
    white:   '0xffffff'
    yellow:  '0xd2b67b'

  normal:
    black:   '0x000000'
    blue:    '0x181fba'
    cyan:    '0x3e953a'
    green:   '0x3e953a'
    magenta: '0xa00095'
    red:     '0xde3d35'
    white:   '0xbbbbbb'
    yellow:  '0xd2b67b'

  primary:
    background: '0xfafafa'
    foreground: '0x383a42'
{% else %}
colors:
  primary:
    foreground: '0xe3e3e3'
    bright_foreground: '0xffffff'
    dim_foreground:    '0xe3e3e3'
    background: '0x1f1f1f'
    bright_background: '0x686868'
    dim_background:    '0x1f1f1f'

  cursor:
    text: '0x191622'
    cursor: '0xf8f8f2'

  search:
    matches:
      foreground: '0xb2b2b2'
      background: '0xb26818'
    focused_match:
      foreground: CellBackground
      background: CellForeground

  normal:
    black:   '0x000000'
    red:     '0xb21818'
    green:   '0x18b218'
    yellow:  '0xb26818'
    blue:    '0x1818b2'
    magenta: '0xb218b2'
    cyan:    '0x18b2b2'
    white:   '0xb2b2b2'

  bright:
    black:   '0x686868'
    red:     '0xff5454'
    green:   '0x54ff54'
    yellow:  '0xffff54'
    blue:    '0x5454ff'
    magenta: '0xff54ff'
    cyan:    '0x54ffff'
    white:   '0xffffff'

  dim:
    black:   '0x000000'
    red:     '0xb21818'
    green:   '0x18b218'
    yellow:  '0xb26818'
    blue:    '0x1818b2'
    magenta: '0xb218b2'
    cyan:    '0x18b2b2'
    white:   '0xb2b2b2'
{% endif %}

font:
  bold:
    family: "{{ temu_font.family }}"
    style: ExtraBold
  bold_italic:
    family: "{{ temu_font.family }}"
    style: BoldItalic
  italic:
    family: "{{ temu_font.family }}"
    style: Italic
  normal:
    family: "{{ temu_font.family }}"
    style: SemiBold
  size: {{ temu_font.size }}

window:
  decorations: none
  startup_mode: Maximized

env:
  TERM: "{{ temu_term }}"

mouse:
  hide_when_typing: true
