{
    "keys": {
        "developer": {},
        "personal": {
            "api_key": "{{ kodi.youtube.api_key }}",
            "client_id": "{{ kodi.youtube.client_id }}",
            "client_secret": "{{ kodi.youtube.client_secret }}"
        }
    }
}
