{
	"configversion": 1,
	"port": 8888,
	"localhostonly": false,
	"enableprometheus": false,
	"enablerendering": true,
	"enablesearch": true,
	"enableinitialrendering": true,
	"enabletransparency": false,
	"enablemediarepository": false,
	"webdev": false,
	"webapi": {
		"enablemapblock": false,
		"secretkey": "{{ luanti_map.password }}"
	},
	"layers": [
		{
			"id": 0,
			"name": "Ground",
			"from": -1,
			"to": 10
		},
		{
			"id": 1,
			"name": "Sky",
			"from": 11,
			"to": 24
		}
	],
	"renderingfetchlimit": 500,
	"renderingjobs": 4,
	"renderingqueue": 10,
	"incrementalrenderingtimer": "5s",
	"mapobjects": {
		"areas": true,
		"bones": true,
		"protector": true,
		"xpprotector": true,
		"privprotector": true,
		"technic_quarry": true,
		"technic_switch": true,
		"technic_anchor": true,
		"technic_reactor": true,
		"luacontroller": true,
		"digiterms": true,
		"digilines": true,
		"travelnet": true,
		"mapserver_player": true,
		"mapserver_poi": true,
		"mapserver_label": true,
		"mapserver_trainline": true,
		"mapserver_border": true,
		"tileserverlegacy": true,
		"mission": true,
		"jumpdrive": true,
		"smartshop": true,
		"fancyvend": true,
		"atm": true,
		"train": true,
		"trainsignal": true,
		"minecart": false,
		"locator": false,
		"signs": true,
		"mapserver_airutils": true,
		"phonograph": true,
		"um_area_forsale": true
	},
	"mapblockaccessor": {
		"expiretime": "10s",
		"purgetime": "15s",
		"maxitems": 50
	},
	"defaultoverlays": [
		"mapserver_poi",
		"mapserver_label",
		"mapserver_player"
	],
	"pagename": "Minetest Mapserver",
	"skins": {
		"enableskinsdb": false,
		"skinspath": ""
	},
	"worldpath": "./",
	"datapath": "./",
	"colorstxtpath": "./"
}