[
{% if minecraft.players is defined %}
{% for player in minecraft.players %}
  {
    "permission": "{{ player.permission }}",
    "xuid": "{{ player.xuid }}"
  }{{ "," if not loop.last }}
{% endfor %}
{% endif %}
]
