#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority filter; policy drop;

    iifname "lo" accept;

{% if wireguard is defined and wireguard.interfaces is defined %}
{% for iface_name in wireguard.interfaces %}
    iifname "{{ iface_name }}" accept;
{% endfor %}
{% endif %}

    ct state related,established accept;
    ct state invalid drop;

    iifname != "lo" ip saddr 127.0.0.0/8 drop;

{% if keepalived is defined and keepalived.vrrp_instances | default([]) | length > 0 %}
{% for iface in keepalived.vrrp_instances | map(attribute='interface') | unique | list %}
    iifname "{{ iface }}" ip protocol vrrp accept
{% endfor %}
{% endif %}

    fib daddr type broadcast drop;
    fib daddr type multicast drop;
    fib daddr type anycast drop;
    ip daddr 224.0.0.0/4 drop;

    tcp dport {{ ansible_port }} tcp flags & (fin|syn|rst|ack) == syn ct state new accept;

{% for interface in interfaces %}
{% if interface.open_ports.udp is defined %}
    iifname {{ interface.iface }} ip protocol udp udp dport { {{ interface.open_ports.udp|join(',') }} } accept;
{% endif %}
{% if interface.open_ports.tcp is defined %}
    iifname {{ interface.iface }} tcp dport { {{ interface.open_ports.tcp|join(',') }} } tcp flags & (fin|syn|rst|ack) == syn ct state new accept;
{% endif %}
{% endfor %}

    icmp type echo-reply ct state new accept
    icmp type destination-unreachable ct state new accept
    icmp type time-exceeded ct state new accept
  }

  chain forward {
    type filter hook forward priority filter; policy drop;

    ct state { related, established } accept
    ct state invalid drop

{% if wireguard is defined and wireguard.interfaces is defined %}
{% for iface_name, iface_cfg in wireguard.interfaces.items() %}
{% if iface_cfg.forward is defined %}
    iifname "{{ iface_name }}" oifname "{{ iface_name }}" accept
{% endif %}
{% if iface_cfg.snat_interface is defined %}
    iifname "{{ iface_name }}" oifname "{{ iface_cfg.snat_interface }}" accept
    iifname "{{ iface_cfg.snat_interface }}" oifname "{{ iface_name }}" ct state related,established accept
{% endif %}
{% endfor %}
{% endif %}
  }

  chain output {
    type filter hook output priority filter; policy accept;
    ct state { established, related, new } accept
    iifname "lo" accept
  }
}

{% if wireguard is defined and wireguard.interfaces is defined %}
{% set _snat_ifaces = wireguard.interfaces | dict2items | selectattr('value.snat_interface', 'defined') | selectattr('value.internal_ip', 'defined') | list %}
{% if _snat_ifaces | length > 0 %}
table ip nat {
  chain prerouting {
    type nat hook prerouting priority dstnat; policy accept;
    counter;
  }

  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;
{% for item in _snat_ifaces %}
{%   set _ext_if = interfaces | selectattr('iface', 'equalto', item.value.snat_interface) | list | first %}
    ip saddr {{ item.value.internal_ip }} oif {{ item.value.snat_interface }} snat to {{ _ext_if.address }};
{% endfor %}
  }
}
{% endif %}
{% endif %}
