#!/sbin/openrc-run

name="{{ container_name }}"
description="Podman compose {{ container_name }}"

ADMIN_USER="{{ admin_user }}"
ADMIN_UID="$(id -u "$ADMIN_USER")"
XDG_RUNTIME_DIR="/run/user/$ADMIN_UID"
COMPOSE_FILE="{{ podman_compose_dest }}"
COMPOSE_CMD="/usr/bin/podman-compose --in-pod=false -f $COMPOSE_FILE"

depend() {
  need net cgroups
  use podman-api
  after podman-api
}

run_compose() {
  su -l "$ADMIN_USER" -c "XDG_RUNTIME_DIR=$XDG_RUNTIME_DIR $COMPOSE_CMD $*"
}

start_pre() {
  checkpath -d {{ compose_project_dir }}
}

start() {
  ebegin "Starting {{ container_name }}"
  run_compose up -d
  eend $?
}

stop() {
  ebegin "Stopping {{ container_name }}"
  run_compose stop
  eend $?
}

reload() {
  ebegin "Reloading {{ container_name }}"
  run_compose pull && run_compose down && run_compose up -d
  eend $?
}

restart() {
  ebegin "Restarting {{ container_name }}"
  run_compose down && run_compose up -d
  eend $?
}
